/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  
} */

/* .counterbox{
  border: 2px solid;
  width: 50%;
  min-height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);
  
}
.counterdisplay{
  width: 100%;
  height: 200px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  font-weight: bolder;
}
.btn-section{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn{
  display: inline-block;
  display: flex;
  width: 30%;
  height: 50px;
  align-items: center;
  justify-content: center;
} */

